
body{
margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 150%;
  color: #40514E;
}
h1{

  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.5rem;
  margin:50px  auto 0 auto;
  color: #1361d5;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #1361d5;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #1361d5
}
.top-container{
  background-color: #a4b9d8;
position: relative;
padding-top: 100px;
bottom:0;



}
.top-cloud{
  position: absolute;
  right:250px;
  top:40px;


}
.sun{
  width: 100px;
  height: 100px;
  position: absolute;
  left:100px;
}
.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;

}
.mountain{
  position:relative;
  bottom:0;
}
.profile{
  background-color:white ;

}
.profile-pic{
   border-radius: 50%;
}
.skills{
  background-color:white;
}
hr{


    border-style: none;
    border-top-style:dotted;
        width: 10%;
        border-color: grey;
        border-width: 5px;
        margin: 100px auto;
}
.bottom-container{
background-color:#13d583;
padding: 50px 0 20px;
}
.middle-container{
  background-color:white;
  margin: 100px 0;
}
.intro{
  width: 30%;
  margin:auto;
}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align: left;

}
.user-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.eat-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}
p{
  line-height: 2;
}
.contact-message{
  width: 40%;
  margin:40px auto 60px;
}
a{
  color: #055835;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
a:hover{
  color:#cdf7e5;

}
.copy{
  color:#cdf7e5;
  font-size: 0.7rem;
  padding: 20px 0;
}
.btn {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
     font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 22px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #80B0FD;
   background-image: -webkit-linear-gradient(top, #80B0FD, #A054CB);
   background-image: -moz-linear-gradient(top, #80B0FD, #A054CB);
   background-image: -ms-linear-gradient(top, #80B0FD, #A054CB);
   background-image: -o-linear-gradient(top, #80B0FD, #A054CB);
   background-image: linear-gradient(to bottom, #80B0FD, #A054CB);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
}
